<section class="not-found" fxLayout fxLayoutAlign="center center">
  <mat-card fxFlex.xs="100%" fxFlex="400px">
    <mat-card-title fxLayoutAlign="center">Ooops</mat-card-title>
    <mat-card-content fxLayout="column" fxLayoutAlign="center">
      <div style="margin:10px">
        <mat-icon style="transform: scale(4); margin:1em;">error</mat-icon>
      </div>
      <section class="mat-typography">
        <br>
        <h1>Parece que te haz perdido</h1>
        <h2>Lo sentimos, la página que estas buscando no existe.</h2>
      </section>
    </mat-card-content>
    <mat-card-actions fxLayout="column" fxAlignItems="center" fxLayoutGap="10px">
      <a mat-button routerLink="/">Ir a la página principal</a>
    </mat-card-actions>
  </mat-card>
</section>