<section class="login" >

    <form fxLayout fxLayoutAlign="center center" [formGroup]="loginForm" fxFlex="100" (ngSubmit)="onSubmit()">
      <mat-card fxFlex.xs="100%" fxFlex="400px">
        <mat-card-title fxLayoutAlign="center">Bienvenido</mat-card-title>
        <mat-card-content fxLayout="column" fxLayoutAlign="center">
            <div><img style="width:25%"src="assets/logo.svg" alt=""></div>
            <mat-form-field>
                <input 
                  type="email" 
                  matInput 
                  placeholder="Tu email"
                  formControlName="email">
                <mat-error>El email es inválido</mat-error>
            </mat-form-field>
            <mat-form-field>
                <input 
                  type="password" 
                  matInput 
                  placeholder="Tu contraseña" 
                  formControlName="password">
                <mat-error>La contraseña es requerida.</mat-error>            
            </mat-form-field>
        </mat-card-content>
        <mat-card-actions fxLayout="column" fxLayoutGap="10px"*ngIf="!(isLoading$ | async)">
            <button  *ngIf="!(isLoading$ | async)" type="submit" mat-raised-button color="primary" [disabled]="loginForm.invalid">Entrar</button>
            <button  *ngIf="!(isLoading$ | async)" type="button" mat-button >Olvidé contraseña</button>
            <mat-spinner *ngIf="isLoading$ | async"></mat-spinner>
        </mat-card-actions>
      </mat-card>
      
      
      
    </form>
</section>