<section class="welcome" fxLayout="column" fxLayoutGap="10" fxLayoutAlign="center center">
    
  <div class="mat-typography" ngStyle.xs="width:80%" ngStyle.gt-xs="width:400px">    
    <div><img style="width:50%"src="assets/logo-white.svg" alt=""></div>
    <h1 class="headline">Salud ID</h1>
    <h2 class="title">Accede a todas las aplicaciones y servicios en línea del Instituto de Salud del Estado de Chiapas con una sola cuenta.</h2>
    <div fxLayout fxLayoutAlign="center center" fxLayoutGap="10px" style="width:100%">
        <div fxFlex>
            <img  src="assets/logo-instituto-salud-white.svg" alt="">
        </div>
        <div fxFlex>
            <img  src="assets/logo-gobierno-chiapas-white.svg" alt="">
        </div>
        <div fxFlex>
            <img  src="assets/marca-white.svg" alt="">
        </div>
    </div>
  </div>
</section>